body {
  width: 1440px;
  height: auto;
  margin: auto;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: hsl(215, 32%, 27%);
  margin: 30px auto 20px auto;
}

p {
  margin: 0 auto 30px auto;
  color:  hsl(215, 51%, 70%);
  font-size: 22px;
  font-weight: lighter;
}

.cheese {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

a:hover{
  color: hsl(178, 100%, 50%);
}

.container-equilibrium {
  font-size: 18px;
  width: 375px;
  height: auto;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 25px;
  margin-top: 2%;
  background-color: hsl(216, 50%, 16%);
  border: 1px solid transparent;
  border-radius: 25px;
  text-align: left;
}

.image-equilibrium {
  width: 375px;
  height: 375px;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 15px;
}

.image-equilibrium:hover {
}

.sale {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
}

.sale img {
  vertical-align: middle;
  transform: scale(115%);
}

.cost-eth {
  color: hsl(178, 100%, 50%);
  vertical-align: middle;
  margin-left: 8px;
}

.sale-time {
  color:  hsl(215, 51%, 70%);
  vertical-align: middle;
  margin-left: 8px;
}

.jules {
  justify-content: flex-start;
  font-size: 20px;
  margin-bottom: 10px;
}

.jules a {
  text-decoration: none;
  color: white;
}

.jules a:hover {
  color: hsl(178, 100%, 50%);
}

.jules #creation {
  color: hsl(215, 51%, 70%);
}

.jules img {
  margin-right: 20px;
  height: 40px;
  width: 40px;
  border: 1.5px solid white;
  border-radius: 50%;
  vertical-align: middle;
}

.attribution {
  font-size: 24px;
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  top: 30px;
  color: white;
}
